
.navwrap {
    display: flex;
    align-items: center;
    // padding: 0.5rem;
    padding-top: 0;
    padding-left: 41px;
}
.logo {
    text-align: center;
    display: block;
}

.social-nav {
  margin-left: auto;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  a {
    padding: 0.5rem;
  }
}

.menu-flyout-btn {
    position: absolute;
    left: 180px;
    background: white;
    border: none;
    border-radius: 0;
    padding: 0.25rem 0.75rem;
    &:focus {
      outline: none;
    }
    @media (min-width: 600px) {
      display: none;
    }
}

.nav {
  background: white;
  position: fixed;
  top: 12px;
  left: -180px;
  width: 180px;
  transition: left 200ms ease-in-out;
  &.open {
    left: 0;
  }
  a {
      color: #777;
      padding: 1em;
      text-align: center;
      font-weight: bold;
      display: block;
      transition: all ease-in-out 300ms;
      &:hover {
          color: #444;
          text-decoration: none;
          background: rgba(white, 0.7);
      }
  }
  @media (min-width: 600px) {
    position: initial;
    background: none;
  }
}

@media (min-width: 600px) {
    .logo {
        z-index: 100;
        display: block;
        font-weight: bolder;
        transition: all ease-in-out 300ms;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &:hover {
            background: rgba(255,255,255,0.7);
            text-decoration: none;
            color: #333;
        }
    }
    .navwrap {
        position: fixed;
        background: rgba(white, 0.4);
        border-radius: 0 3px 3px 0;
        width: 190px;
        margin-top: 6em;
        padding: 0;
        display: block;
    }

    .social-nav {
      border-top: 1px solid #888;
    }
}