$black: #222;
$font-family-base: '';
$font-size-base: '';
$font-weight-base: '';
$line-height-base: '';
$body-color: '';
$body-bg: '';
$headings-margin-bottom: '';
$paragraph-margin-bottom: '';
$dt-font-weight: '';