@import "./styles/variables";
@import "./styles/reboot";
@import "./styles/typography";
@import "./styles/nav";
@import "./styles/works";

body {
  background: $black;
}

p {
  margin-top: 2rem;
}

.homepage-wrap {
  z-index: -1;
  background-image: url('../public/banners/dt_web.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.homepage-caption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5em;
  span {
    font-size: 2.5rem;
    max-width: 390px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem
  }
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #eee;
  opacity: 0.7;
  p {
    font-size: 10px;
    padding-left: 1em;
  }
}

.innerpage {
  > header {
    background: #eee;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > main {
    color: #fff;
    padding: 4em 1em;
    max-width: 600px;
    margin: 0 auto;
  }
}

.portfoliopage {
  .navwrap {
    background: white;
  }
}
.portfolio {
  header {
    text-align: center;
    color: white;
    margin-left: 200px;
    margin-right: 1em;
    padding-top: 2rem;
  }
  main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-left: 200px;
    margin-right: 1em;
  }
}

.aboutpage {
  h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}