@import "./styles/variables";
@import "./styles/reboot";
@import "./styles/typography";
@import "./styles/nav";
@import "./styles/works";
@import "./styles/innerpages";
@import "./styles/portfolio";

body {
  background: $black;
}

p {
  margin-top: 2rem;
}

.homepage-wrap {
  z-index: -1;
  background-image: url('../public/banners/dt_web.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.homepage-caption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5em;
  span {
    font-size: 2.0rem;
    max-width: 390px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem
  }
  @media (min-width: 600px) {
    span {
      font-size: 2.5rem;
    }
  }
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #eee;
  opacity: 0.7;
  p {
    font-size: 10px;
    padding-left: 1em;
  }
}
